DB_HOST=localhost
DB_PORT=5432
DB_NAME=livena.identity_db
DB_USER=livena.identity_user
DB_PASSWORD=livena.identity_password

KEYCLOAK_REALM=livena-dev
KEYCLOAK_CLIENT_ID=backend-client
KEYCLOAK_CLIENT_SECRET=RoeM1m9lHff3M74SO5tIagAw3jfPWzwG
KEYCLOAK_TOKEN_URL=http://localhost:8081/realms/livena-dev/protocol/openid-connect/token
KEYCLOAK_BASE_URL=http://localhost:8081

JWT_AUTHORITY=http://localhost:8081/realms/livena-dev
JWT_AUDIENCE=account

MAIL_FROM="Livena <onboarding@resend.dev>"
RESEND_API_KEY=re_T5DFkivt_C7QU2xfVRF7ZrZLFZa6SUsF3
